@charset "UTF-8";
.header-flex {
  /* SE AGREGÓ GRADIENTE*/
  border-color: none;
  border-width: 0px;
  border-style: none;
  background-color: #22549e;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  background-image: linear-gradient(to bottom, rgba(0, 247, 255, 0.322), #5edd5e); }

.landing-text {
  color: rgba(0, 247, 255, 0.322);
  font-size: 36px;
  font-weight: bold; }

.menu {
  width: 80%;
  padding: 15px; }

.nav {
  padding: 5px;
  text-align: center;
  display: inline; }

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  background: aqua;
  color: black;
  font-family: 'Marker felt', 'fantasy';
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  margin: 2%; }

.button span {
  position: relative;
  z-index: 2;
  transition: .3s ease all; }

.button::after {
  content: "";
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: .3s ease-in-out all;
  border-radius: 100px;
  transform-origin: center; }

.button:hover::after {
  transform: scale(100);
  background: rgba(39, 155, 78, 0.747); }

.button:hover {
  background: rgba(0, 247, 255, 0.322); }

.activo {
  background: #1cafaf; }

#btnpreguntas {
  width: 210px; }

#slogan {
  max-height: 200px;
  min-width: 255px;
  position: relative;
  top: 15%;
  left: 20px;
  font-size: 48px;
  color: #5edd5e;
  text-shadow: 3px 3px black; }

.negrita {
  position: relative;
  left: 20px;
  top: 20px;
  font-weight: bold;
  font-size: 28px;
  color: white; }

.callAyudandote {
  position: relative;
  top: 20px;
  font-weight: bold;
  font-size: 38px;
  color: #5edd5e;
  flex-direction: row;
  align-items: center;
  text-align: center; }

.callFeliz {
  position: relative;
  top: 10px;
  font-weight: bold;
  font-size: 38px;
  color: aquamarine;
  flex-direction: row;
  align-items: center;
  text-align: center; }

#btnAgendar, #btnVolver {
  position: relative;
  top: 30px;
  margin: 5%;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Phantomsans', 'sans-serif';
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  max-width: 180px;
  min-width: 50px;
  padding: 3px;
  cursor: pointer; }

#btnVolver {
  background-color: rgba(39, 155, 78, 0.747); }

.final, .textoFooterIndex {
  width: 100%;
  flex-direction: row;
  align-items: center;
  text-align: center; }
  @media screen and (mind-width: 767px) {
    .final, .textoFooterIndex {
      position: relative;
      margin-top: 50px; } }

.final {
  min-height: 150px; }

#iconosfinales {
  margin: 20px;
  padding: 10px; }

.footer-flex {
  padding: 10%; }

.btnCard {
  align-items: center;
  background-image: linear-gradient(144deg, #1b3d1b, rgba(39, 155, 78, 0.747) 50%, aquamarine);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s; }

.btnCard:active,
.btnCard:hover {
  outline: 0;
  color: blue; }

.btnCard span {
  background-color: #05062d;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms; }

.btnCard:hover span {
  background: none; }

.btnCard:active {
  transform: scale(0.9); }

.sobreMi {
  justify-content: center;
  margin: 5px; }

.contenedorgotas {
  flex-direction: row;
  align-items: center;
  text-align: center; }
  @media (max-width: 800px) {
    .contenedorgotas {
      margin: 15px; } }

.textoSobreMi {
  background-color: #5edd5e;
  height: fit-content;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Verdana, sans-serif; }
  @media (max-width: 800px) {
    .textoSobreMi {
      margin: 15px; } }

#artsDeInteres {
  max-height: 200px;
  position: relative;
  top: 15%;
  font-size: 48px;
  color: #5edd5e;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; }

.tituloArticulo {
  color: #1b3d1b;
  font-weight: bold; }

.prologo {
  color: #5a5858; }

.autor {
  color: rgba(39, 155, 78, 0.747);
  font-weight: bold; }

.textoContacto {
  color: rgba(39, 155, 78, 0.747);
  text-shadow: 3px 3px black;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: width 2s; }

.textoContacto:hover {
  background-color: aqua; }

#pContacto1, #pContacto2 {
  color: white;
  font-weight: bold; }

#pContacto1:hover, #pContacto2:hover {
  color: black;
  font-weight: bold;
  font-size: 24px; }

/*ANIMACIÓN DEL TIPEO ¿En qué podemos servirte?*/
.typewriter {
  overflow: hidden;
  border-right: .20em solid blue;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: tipeo 6.5s steps(50, end), parpadeo-cursor 1.75s step-end infinite; }

@keyframes tipeo {
  from {
    width: 0; }
  to {
    width: 50%; } }

@keyframes parpadeo-cursor {
  from, to {
    border-color: transparent; }
  50% {
    border-color: blue; } }

* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; }

.header-flex {
  padding: 12px; }

.principal {
  padding: 0px; }

.main-flex {
  background: url("../assets/homeopatia.jpg");
  width: 100%;
  height: 1128px;
  margin: 0%;
  padding: 0%; }

#textoAbodiyat {
  font-size: 28px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  color: whitesmoke; }

.cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 30px;
  position: relative;
  top: 5%;
  height: auto;
  justify-content: space-around;
  align-items: center; }

.card {
  padding: 5px;
  display: flex;
  flex-direction: row;
  max-height: 650px;
  width: 18rem;
  align-items: center; }

.agendar, .volver {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.callToAction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.ul {
  list-style-position: outside;
  list-style-type: square; }
